/* liScroll styles */

.tickercontainer { /* the outer div with the black border */

background: #eee; 


margin: 0; 
padding: 0;
overflow: hidden; 
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
width: 99%;
margin: 5px auto;
background: #ddd;       

overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;
left: 100%;
font: normal 10px Verdana;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
white-space: nowrap;
padding: 0;
margin: 0 400px 0 0;
} 