/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/decathlon\/sites\/all\/themes\/at\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000316}}
html {
  font-size: 81.3%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/decathlon\/sites\/all\/themes\/at\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000323}}
.scoreboard .scorecards ul.scorecard-header li {
  font-size: 90%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/decathlon\/sites\/all\/themes\/at\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000331}}
.item-list-player-total ul.header,
.item-list-player-total ul.scores {
  font-size: 80%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/decathlon\/sites\/all\/themes\/at\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000334}}
.item-list-player-total ul.header li.chart,
.item-list-player-total ul.scores li.chart {
  width: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/decathlon\/sites\/all\/themes\/at\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000338}}
.item-list-player-total li.leader li.chart div {
  width: 70%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/decathlon\/sites\/all\/themes\/at\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000341}}
.item-list-player-total h3 {
  font-size: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/decathlon\/sites\/all\/themes\/at\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000346}}
.grid-8 .views-row {
  width: 18%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/decathlon\/sites\/all\/themes\/at\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000347}}
.game-standings-grid .leaderboard-game-standings {
  width: 32%;
}
